@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}


.bg-image{
    background:  url(./ASSETS/Image/homeimg.png);
    height: 520px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-color{
    background-color: #066AB240;
    height: 520px;
}

.img_taille img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.img_taille{
    width: 451px;
    height: 465px;
    position: relative;
    overflow: hidden;
}

.bg-image-progression{
    background:  url(./ASSETS/Image/progression.png);
    height: 280px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-color-progression{
    background-color: #0000007D;
    height: 280px;
}